body{
    margin:15%;
    background-color: rgba(255, 15, 0, 0.5);
    text-align: center;
    align-items: center;
}
.heading{
    color: darkblue;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.game{
    font-size: large;
    height: 100%;
    align-items: center;
    text-align: center;
}
.btn{
    width: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: grab;
}